# Environment variables (contains private keys & API keys - DO NOT PUSH)
.env
.env.local

# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Hardhat artifacts & cache
artifacts/
cache/
typechain-types/

# System / OS
.DS_Store
Thumbs.db
